html, body {
  margin: 0;
  /*set min-height to make sure html and body elements reach bottom of viewport AND increase as content increases*/
  min-height: 100%;
}

body {
  /*position: relative;*/   /*Needed if pseudo-element or .overlay is positioned absolutely */
  padding: 30px;
  font-family: Arial;
  background: #f1c40f;
  color: #fff;
}

.main {
  margin: 30px;
}
