html, body {
  margin: 0;
  /*set min-height to make sure html and body elements reach bottom of viewport AND increase as content increases*/
  min-height: 100%;
}

body {
  /*position: relative;*/   /*Needed if pseudo-element or .overlay is positioned absolutely */
  padding: 30px;
  font-family: Arial;
  background: #f1c40f;
  color: #fff;
}

.main {
  margin: 30px;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.4rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0 0.25rem;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

#styledModal {
  background: #FFF;
  width: 300px;
  text-align: center;
  padding: 1.5em;
  margin: 1em auto;
  border: 0;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

/*Polyfill only supports backdrop as an adjacent element, not pseudo element*/
#styledModal + .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
